<html ng-app="ionicApp">
<body>
  <ion-header>
    <script>
      function change(name)
      {
        alert("Working!");
        name.className = "circle-highlight";
        \\var elem = document.getElementById("wh");
        \\if (elem.className=="circle-highlight") this.className = "circle";
        \\else elem.className = "circle-highlight";
      }
    </script>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-header>

  <ion-footer-bar class="header-color" style="height:90px;">
    <ion-scroll direction="x" class="wide-as-needed">
      <div class="list">

        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity" onclick="change(wh)">
          <input type="checkbox" name="group" id="whitman" ng-click="change(wh)" onclick="change(wh)">
            <div id="wh" class="circle" onclick="this.classname='circle-highlight'">Wh</div><div>Whitman</div>
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity">
          <input type="checkbox" name="group" id="wilson" ng-click="change()">
            <div class="circle">Wu</div><div>Wu/Wilcox</div>
          
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity">
          <input type="checkbox" name="group" id="rocky" ng-click="">
            <div class="circle">R/M</div><div>Rocky/Mathey</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity">
          <input type="checkbox" name="group" id="forbes" ng-click="">
            <div class="circle">F</div><div>Forbes</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity">
          <input type="checkbox" name="group" id="cjl" ng-click="">
            <div class="circle">CJL</div><div>CJL</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity">
          <input type="checkbox" name="group" id="grad" ng-click="">
            <div class="circle">G</div><div>Grad College</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity">
          <input type="checkbox" name="group">
            <div class="circle">V</div><div>Vegetarian</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;" href="#/app/Popularity">
          <input type="checkbox" name="group">
            <div class="circle">Ve</div><div>Vegan</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="button item-radio" style="background-color: #37BFAD;">
          <input type="checkbox" name="group">
            <div class="circle">P</div><div>Pork Free</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
    </ion-scroll>
  </ion-footer-bar>
<body>

</html>