<ion-side-menus enable-menu-with-back-views="false">
  <head>
    <script type="text/javascript" src="controllers.js"></script>
  </head>
  
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-clear button-positive" menu-toggle="left">Filter By</button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" menu-toggle="right">
          <img src="img/logo.png" width="35">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Filter By</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item item-icon-right nav-clear href="#/app/Popularity">
          Clear All Filters
        </ion-item>
        <div class="list">
          <div class="item item-divider">
            Dining Halls
          </div>
          <label class="item item-radio" item-icon-right nav-clear href="#/app/Popularity">
            <input type="checkbox" name="group">
            <div class="item-content">
              <img src="img/H.png" width="20">
              Whitman
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" item-icon-right nav-clear href="#/app/Popularity">
            <input type="checkbox" name="group">
            <div class="item-content">
              <img src="img/W.png" width="20">
              Wu/Wilcox
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" item-icon-right nav-clear href="#/app/Popularity">
            <input type="checkbox" name="group">
            <div class="item-content">
              <img src="img/R.png" width="20">
              Rocky/Mathey
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" item-icon-right nav-clear href="#/app/Popularity">
            <input type="checkbox" name="group" onClick="change('F')" src="controllers.js">
            <div class="item-content">
              <img src="img/F.png" width="20">
              Forbes
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" item-icon-right nav-clear href="#/app/Popularity">
            <input type="checkbox" name="group">
            <div class="item-content">
              <img src="img/C.png" width="20">
              CJL
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio item-icon-right nav-clear" href="#/app/Popularity">
            <input type="checkbox" name="group">
            <div class="item-content">
              <img src="img/G.png" width="20">
              Grad College
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>

          <div class="item item-divider">
            Diets
          </div>
          <label class="item item-radio" item-icon-right nav-clear href="#/app/Popularity">
            <input type="checkbox" name="group">
            <div class="item-content">
              <i class="icon ion-ios-nutrition"></i>
              Vegetarian
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" item-icon-right nav-clear href="#/app/Popularity">
            <input type="checkbox" name="group">
            <div class="item-content">
              <i class="icon ion-leaf"></i>
              Vegan
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" item-icon-right nav-clear>
            <input type="checkbox" name="group">
            <div class="item-content">
              <img src="img/n.png" width="15">
              Nut Free
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio" item-icon-right nav-clear>
            <input type="checkbox" name="group">
            <div class="item-content">
              <img src="img/p.png" width="15">
              Pork Free
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
