<html ng-app="ionicApp">
<body>
  <ion-header style="height:20px; width:100px;">
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-header>

  <ion-footer-bar style="height:100px; background: url('../img/bg1.png') no-repeat center center fixed; border-top: thin solid #FFF; background-color: rgba(0,0,0,0.6);">
    <ion-scroll direction="x" class="wide-as-needed">
      <div class="list">

        <div class="button item-trns" href="#/app/Popularity" id="whitman" ng-click="">
          <div class="circle">Wh</div><div class="food_label">Whitman</div>
        </div>

        <div class="button item-trns" href="#/app/Popularity" id="wucox" ng-click="">
            <div class="circle">Wu</div><div class="food_label">Wu/<br>Wilcox</div>
        </div>
        
        <div class="button item-trns" href="#/app/Popularity" id="roma" ng-click="">
            <div class="circle">R/M</div><div class="food_label">Rocky/<br>Mathey</div>
        </div>
        
        <div class="button item-trns" href="#/app/Popularity" id="forbes" ng-click="">
            <div class="circle">F</div><div class="food_label">Forbes</div>
        </div>
        
        <div class="button item-trns" href="#/app/Popularity" id="cjl" ng-click="">
            <div class="circle">CJL</div><div class="food_label">CJL</div>
        </div>
        
        <div class="button item-trns" href="#/app/Popularity" id="vgt" ng-click="">
            <div class="circle">V</div><div class="food_label">Vegetarian</div>
        </div>
        
        <div class="button item-trns" href="#/app/Popularity" id="vgn" ng-click="">
            <div class="circle">Ve</div><div class="food_label">Vegan</div>
        </div>
        
        <div class="button item-trns" href="#/app/Popularity" id="porkfree" ng-click="">
            <div class="circle">P</div><div class="food_label">Pork<br>Free</div>
        </div>
        
        <div class="button item-trns" href="#/app/Popularity" id="nutfree" ng-click="">
            <div class="circle">N</div><div class="food_label">Nut<br>Free</div>
        </div>
      </div>
    </ion-scroll>
  </ion-footer-bar>
<body>

</html>