<ion-view view-title="SNIK-SNAK" style="color: #000">
  <ion-content class="has-footer">
    <ion-list>
        <ion-item collection-repeat="item in displayedItems" class="item-button-right" item-height="70px">
        {{item['Name']}}

		<button class="button button-custom button-icon" style="margin-right:60px;width:40px;height:50px;min-height: 15px;min-width: 15px;padding:0px;">
			<i class="icon ion-chevron-down"></i>
		</button>

        <span class="badge" style="margin-right:0px;">0</span>

        <button class="button button-custom button-icon" style="width:40px;height:50px;min-height:15px;min-width:15px;padding:0px;">
			<i class="icon ion-chevron-up"></i>
		</button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>