/* Empty. Add your own CSS if you like */

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}

.button-custom,
.button-custom .icon:before{
  font-size: 15px !important;
}

.menu-custom,
.menu-custom .icon:before{
  font-size: 25px !important;
}

.header-color {
	background-color: #37BFAD;
}

ion-view.pane {
	background: url("../img/bg.png") no-repeat center center fixed;
    background-size: cover;
}

.circle {
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:15px;
	color:#FFF;
	line-height:50px;
	text-align:center;
	background-color: rgba(255,255,255,0.3);
	vertical-align: middle;

}

.highlight {
	border: 2px white solid;
    margin: 0px auto;
}

.item-trns1 {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	color: white; 
}

.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
}
