/* Empty. Add your own CSS if you like */

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}

.button-custom,
.button-custom .icon:before{
  font-size: 15px !important;
}
